<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

<link rel="icon" type="image/png" href="{{ '/favicon1.png' | relative_url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600;9..144,700&family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
<script>
  window.__SEARCH_INDEX__ = "{{ '/search.json' | relative_url }}";
</script>
<script defer src="{{ '/assets/js/site.js' | relative_url }}"></script>

{% if workshop.site.event_jsonld %}
  <script type="application/ld+json">
    {{ workshop.site.event_jsonld | jsonify }}
  </script>
{% endif %}
